
.App{
  text-align: center;
  background-image: url("https://i.imgur.com/J22jElL.jpg");
  height: 100vh;
  /* filter: blur(3.5px); */
  /* -webkit-filter: blur(3.5px); */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


img{
  filter: blur(3.5px); 
   -webkit-filter: blur(3.5px);
}
.login{
  display: flex;
  flex-direction: column;
}
.login form{
  display: flex;
  flex-direction: column;
  margin-top: ;
}