
.App{
  text-align: center;
  background-image: url("https://i.imgur.com/J22jElL.jpg");
  height: 100vh;
  /* filter: blur(3.5px); */
  /* -webkit-filter: blur(3.5px); */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


img{
  filter: blur(3.5px); 
   -webkit-filter: blur(3.5px);
}
.login{
  display: flex;
  flex-direction: column;
}
.login form{
  display: flex;
  flex-direction: column;
  margin-top: ;
}

.navbar{
  /* background-image: url("https://external-preview.redd.it/ux4vc46s-gE5Mep-cuvmcLLKl7QmJIyzC0WsZwVyBu4.jpg?auto=webp&s=e510117b122843032f297ce0ae13fde1f121a675"); */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90%;
  padding: 25px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

.navbar a{
  color: white;
  text-decoration: none;
}


.register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70rem;
  height: 80rem;
  margin: 20px;
  
}

.new-posts{
  display:flex;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.89); */
  width:30%;
  margin-left: 35%;
  height: 15rem;
  margin-top: 5rem;
  background-image: url("https://lh3.googleusercontent.com/proxy/1WqsC7UfM9dYtQTLVGl_2TjSQn_NVGVNFMstzQJFPWm3_uMN6Tmcklbiioe71pJaQU6fEXietk7rvA_XGiwxCgLE");
}

.new-posts form{
  display:flex;
  flex-direction: column;
  width:70%;
}

input.title {
  /* border-bottom: 2px solid red; */
  border-radius: 4px;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.89);
  color:white;
}

input.text {
  border-radius: 4px;
  float: left;
  margin-top: 6px;
  background-color: rgba(0, 0, 0, 0.89);
  height:4rem;
  padding-bottom: 2rem;
  color:white;
  font-size: 1.2rem;
  /* padding-bottom: 15rem; */
}
button{
  margin-top: 2rem;
  margin-bottom:5rem;
  width:50%;
  background-color: rgba(0, 0, 0, 0.89);
  color:lightgray;

}