
.App{
  text-align: center;
  background-image: url("https://external-preview.redd.it/ux4vc46s-gE5Mep-cuvmcLLKl7QmJIyzC0WsZwVyBu4.jpg?auto=webp&s=e510117b122843032f297ce0ae13fde1f121a675");
  height: 100vh;
  filter: blur(3.5px);
  -webkit-filter: blur(3.5px);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


